@using static Project_Webapplicaties.ViewModels.PlayerDetailsViewModel
@model Project_Webapplicaties.ViewModels.PlayerListViewModel

@{
    ViewData["Title"] = "Speler aanpassen of verwijderen";
}
<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" asp-action="Index">
                            <span data-feather="home"></span>
                            Admin
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">
                            Team Toevoegen
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Admin" asp-action="AddPlayer" class="nav-link">
                            Speler Toevoegen
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">
                            Sponsor Toevoegen
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">
                            Team Verwijderen/Updaten
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Admin" asp-action="EditOrDeletePlayer" class="nav-link">
                            Player Verwijderen/Updaten <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">
                            Sponsor Verwijderen/Updaten
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4 jumbotron-img2">
            <div class="shadoww container m-5">
                <h3 class="mb-5 display-4">Speler aanpassen of verwijderen</h3>
                <table class="table table-light mt-5 shadoww">
                    <thead>
                    <tr>
                        <th scope="col"><b>Speler Id</b></th>
                        <th scope="col"><b>Voornaam</b></th>
                        <th scope="col"><b>Achternaam</b></th>
                        <th scope="col"><b>Geboortedatum</b></th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model.Players)
                    {
                        <tr>
                            <td>
                                @item.PlayerId
                            </td>
                            <td>
                                @item.Firstname
                            </td>
                            <td>
                                @item.Name
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem=>item.Birthdate)
                            </td>
                            <td>
                                <a asp-controller="Admin" asp-action="EditPlayer" asp-route-id="@item.PlayerId">Aanpassen</a>
                            </td>
                            <td>
                                <a asp-controller="Admin" asp-action="DeletePlayer" asp-route-id="@item.PlayerId">Verwijderen</a>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>